*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{     
    font-family: 'Poppins', sans-serif;
}



/* Navigation Bar */
.navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7); 
    padding: 15px 30px;
    border-radius: 10px;
    z-index: 10;
    width: 55%;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    margin: 0 15px;
}

.navbar a:hover {
    color: yellow;
}
