.root {
    --background-color: #eeeff1;
}

main{
    background-color: var(--background-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}


.backvid {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 56.25vw; 
    min-height: 100vh;
    min-width: 177.78vh; 
    transform: translate(-50%, -50%);
    z-index: -1;
    
}

.backvid iframe {
    width: 100%;
    height: 100%;
}

/* Navigation Bar */
.navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7); 
    padding: 15px 30px;
    border-radius: 10px;
    z-index: 10;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    margin: 0 15px;
}

.navbar a:hover {
    color: yellow;
}

/* Where to go section */
.wheretogo{
margin-top: 300px;
padding: 50px;
display: flex;
align-content: center;
gap: 250px;
}

.subtext{
    max-width: 300px;
}


.cardscontainer{
    display:flex;
}

.card{
    width: 350px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px; 
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    align-items: center;
    margin-right: 20px;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.cardimgcontainer{
    width: 100%;
    height: 85%
}

.cardsubtext{
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

.cardsubtextcontainer{
    margin-top: 10px;
    text-align: center;
}

.sectiontitle{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.sectiondescription{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}
















