.root {
    --background-color: #eeeff1;
    --text-color: #000000;
}

main{
    background-color: var(--background-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

/* Hero Section */

.backvid {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 56.25vw;
    min-height: 100vh;
    min-width: 177.78vh;
    transform: translate(-50%, -50%);
    z-index: -1;
    overflow: hidden;
}
/* Navigation Bar */
.navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7); 
    padding: 15px 30px;
    border-radius: 10px;
    z-index: 10;
    width: 60%;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    margin: 0 15px;
}

.navbar a:hover {
    color: yellow;
}

/* Where to go section */
.wheretogo{
margin-top: 300px;
padding: 50px;
display: flex;
align-content: center;
gap: 50px;
}

.wheretogo .subtext{
    width: 400px;
    justify-content: flex-start;
}
.wheretogo .subtext .sectiontitle{
    width: 250px;
}

.cardscontainer{
    display:flex;
    position: inherit;
}

.card{
    width: 350px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px; 
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    align-items: center;
    margin-right: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}



.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgb(0, 114, 254);
    background-color: #fafafa;

}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.cardimgcontainer{
    width: 100%;
    height: 85%
}

.cardsubtext{
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

.cardsubtextcontainer{
    margin-top: 10px;
    text-align: center;
}

.sectiontitle{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.sectiondescription{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}
.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.gallery img:nth-child(odd) {
    height: 250px;
}
.gallery img:nth-child(even) {
    height: 350px;
}

.container{
   text-align: center;
}

.gallerydescription{
    margin-bottom: 30px;
    font-size: 18px;
    max-width: 800px;
    margin-left: 250px;
}

footer{
    margin-top: 100px;  
    background-color: #d4d4dc;
    padding: 50px;
    text-align: center;
    margin-bottom: 0px;
}
