.root {
    --background-color: #eeeff1;
}

main{
    background-color: var(--background-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}


.backvid {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 56.25vw; 
    min-height: 100vh;
    min-width: 177.78vh; 
    transform: translate(-50%, -50%);
    z-index: -1;
    
}

.backvid iframe {
    width: 100%;
    height: 100%;
}

/* Navigation Bar */
.navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7); 
    padding: 15px 30px;
    border-radius: 10px;
    z-index: 10;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    margin: 0 15px;
}

.navbar a:hover {
    color: yellow;
}

